<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="20%" class="card-picture" *ngFor="let gsm of phones">
    <app-phone-view (showPhone)="showPhone($event)" [phone]="gsm"></app-phone-view>
  </div>
  <div *ngIf="currentPhone">
    <app-phone-details (hidePhone)="hidePhone()" [phone]="currentPhone"></app-phone-details>
    <!--<app-phone-details (clickOutside)="hidePhone()" (hidePhone)="hidePhone()" [phone]="currentPhone"></app-phone-details>-->
  </div>
</div>
