<mat-card (click)="onPhoneClick()">
  <mat-card-header>
    <mat-card-title>Brand: {{phone.brand}}</mat-card-title>
    <mat-card-subtitle>Model: {{phone.model}}</mat-card-subtitle>
  </mat-card-header>
  <div class="img-phone" fxLayout="row">
    <img fxFlexAlign="center" mat-card-image [src]="phone.imgUrl" alt="{{phone.brand}}-{{phone.model}}" />
  </div>
  <mat-card-content>
    <p class="price-value">
      Price: ${{phone.price}}
    </p>
  </mat-card-content>
</mat-card>
